<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


  </head>
  <body>

    <header> 
      <div class="top-header">
        <div class="top-nav-left">

        </div>

        <div class="top-nav-right">

        </div>

      </div>

    </header>

    <section class="section-1 white">

    </section>


    <section class="section-2 white">

    </section>

    <section class="section-3 white">

    </section>


    <footer class="prefoot">


    </footer>


    <footer>

    </footer>


  </body>
</html>