@import url('https://fonts.googleapis.com/css?family=Trocchi&display=swap');
/*! VAR COLOR HERE */
:root{
    --red:#e53935;
    --rose-light:#f48fb1;
    --rose:#ba68c8;
    --color-yellow:#ffeb3b;
    --grey-light:#bdbdbd;
    --color-indigo:#1a237e;
}

.navigation{

    width: 40rem;

}
.nav-nav{
display: inline;
margin: 0;
padding: 0;
width: 60px;
margin-left: -2rem;
}

.link{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 8px 45px;
    color:white;
    cursor:pointer;
}

.btn-top {
    border: 1px solid white;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	font-style:italic;
	padding:10px 50px;
}
.signin{
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    
}
.primary{
    font-size: 3.2rem;
    letter-spacing: .7rem;
}

.secondary{
    text-align: center;
    font-size: .7rem;
    letter-spacing: 0.3rem;
}


.fab{
    color: white;
    padding: 1rem 1.2rem;
    
}
