/*///////////////////////////
Google font */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

:root {
    --main-bg-color: #ff4757;


    --btn-bg-primary: #1e272e;
    --btn-bg-hover: #485460;

    --section-bg: #d2dae2;

    --prefooter-bg:#ffd32a;
    -footer-bg:#1e272e;
  }
/*///////////////////////////
NAVIGATION */

.navnav{
    padding-top: 3rem;
    padding-left: 55rem;
}
.side-nav{
    
    font-size: 1.7rem;
    display: inline;
    
}


.item{
    margin-left: 2.9rem;
    text-align: center;
}
.link{
    list-style:none;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: 'Lato';
}
.link:visited{
    background-color: white;
}

.user-nav{
    right: 30rem;
    position: absolute;
}


/*///////////////////////////
Main-title */

.hero-title{
    top:45%;
    right: 25%;
    position: absolute;
    min-width: 40rem;
    
}
.title-hero{
text-transform: uppercase;
font-size: 3.2rem;
display: block;
font-size: 4rem;
font-weight: 400;
letter-spacing: .5rem;
text-align: center;
font-family: "Dancing Script";
color: var(--section-bg);
position: absolute;
}
.sub-title-hero{
padding-top: 6rem;
color: var(--section-bg);
font-size: 1.2rem;
letter-spacing: 10px;

}
