/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:62.5%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,video{height:auto;max-width:100%}audio{max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}
/* END RESET */

:root {
  --main-bg-color: #ff4757;


  --btn-bg-primary: #1e272e;
  --btn-bg-hover: #485460;

  --section-bg: #d2dae2;

  --prefooter-bg:#ffd32a;
  -footer-bg:#1e272e;
}

body{
  line-height: 1.6;
}

/*///////////////////////////
HEADER HEADER */
header {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
          url(img/2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
}

.section-1{
 height: 50rem;
}

.Aboutme{

    height: 100vh;
    background-image:linear-gradient( rgba(255, 71, 15, 0.6), rgba(172, 12, 127, 0.653)),
    url("img/london.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.contact{
  height: 50rem;
 }

.prefoot{
  background: var(--prefooter-bg);
  height: 20rem;
}

footer{
  height: 4rem;
  background: var(--btn-bg-primary);
}

